
<!-- <img src="/img/Gemini_Generated_Image_q82ij6q82ij6q82i.png" alt="AndruFlix Logo" style="width: 100%; height: auto;"> -->
<h5>TRAILER PELICULAS</h5>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <iframe width="" height="480" src="https://www.youtube.com/embed/8KXy_GZZKLA" title="Bad Boys: Hasta la Muerte | Tráiler Oficial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h5 class="card-title">BAD BOY HASTA LA MUERTE</h5>
            <p>Es la cuarta entrega de la icónica saga de acción y comedia protagonizada por Will Smith como Mike Lowrey y Martin Lawrence como Marcus Burnett. En esta ocasión, la trama da un giro inesperado y los detectives favoritos de Miami se encuentran en una situación comprometida: ¡se convierten en fugitivos!</p>
            <div class="margenIcconos">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                </svg>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <iframe width="" height="480" src="https://www.youtube.com/embed/5NYt1qirBWg" title="&quot;Harry Potter and the Deathly Hallows - Part 2&quot; Trailer 2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h5 class="card-title">HARRY POTTER LA RELIQUIAS PARTE II</h5>
            <p>Es la conclusión épica y el clímax de la saga cinematográfica de Harry Potter, basada en la segunda mitad de la novela final de J.K. Rowling. La película retoma la historia justo donde terminó la primera parte, con Harry, Ron y Hermione en su incansable búsqueda de los Horrocruxes restantes para destruir a Lord Voldemort de una vez por todas.</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
            </svg>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <iframe width="AUTO" height="480" src="https://www.youtube.com/embed/8gf7FEmBDDA" title="Rapido y Furioso 2 Trailer HD" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h5 class="card-title">RAPIDO Y FURIOSOS 2</h5>
            <p>Después de los eventos de la primera película, Brian O'Conner (Paul Walker) ha sido despedido del LAPD y se muda a Miami, donde se gana la vida participando en carreras callejeras ilegales. Es descubierto por el FBI, que le ofrece un trato para limpiar su expediente: debe infiltrarse en la operación de lavado de dinero del peligroso narcotraficante Carter Verone (Cole Hauser).</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
            </svg>
        </div>
    </div>
</div>

<h5>TRAILER SERIES</h5>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <iframe width="auto" height="480" src="https://www.youtube.com/embed/2qccTf1TuoI" title="Homero Camionero Los simpsons capitulos completos en español latino" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h5 class="card-title">LOS SIMPSON</h5>
            <p>Los Simpson es una icónica serie de televisión de animación estadounidense creada por Matt Groening para Fox. La serie es una sátira de la vida de la clase media estadounidense, personificada por la familia Simpson, que reside en la ficticia ciudad de Springfield</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
            </svg>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <iframe width="auto" height="480" src="https://www.youtube.com/embed/eqNUieF4yGg?list=PLctu_t5fR-ZR7H8VwobY2uJVBcuzrFe4k" title="Fry y Bender Se Conocen." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h5 class="card-title">FUTURAMA</h5>
            <p>Es una serie de comedia de situación animada de ciencia ficción, creada por Matt Groening (también creador de Los Simpson) y David X. Cohen. La trama se desarrolla en el siglo XXXI y sigue las aventuras de un grupo de personajes que trabajan en Planet Express, una compañía de reparto de mensajería interplanetaria.</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
            </svg>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <iframe width="auto" height="480" src="https://www.youtube.com/embed/49ZNrmBvyr0?list=PLFu_irob7z2Eanc4k8IdZyfpiJuPq_D0_" title="Pataclaun - Capítulo 1 | Temporada 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h5 class="card-title">PATACLAUN</h5>
            <p>fue una popular y transgresora serie de televisión cómica peruana, creada y producida por July Natters. Se emitió por primera vez en 1997 y se convirtió rápidamente en un fenómeno cultural en Perú, rompiendo esquemas con su formato innovador y su humor único.</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
            </svg>
        </div>
    </div>
</div>