<p>peliculas works!</p>
<div>
    <div class="peliculas-container">
        <div class="pelicula-card">
            <img src="/img/avengers.jpg" alt="Avengers">
            <h3>HARRY POTTER</h3>
        </div>
        <div class="pelicula-card">
            <img src="/img/inception.jpg" alt="Inception">
            <h3>BAD BOY</h3>
        </div>
        <div class="pelicula-card">
            <img src="/img/matrix.jpg" alt="Matrix">
            <h3>RAPIDO Y FURIOSO</h3>
        </div>
    </div>
</div>
