
<div class="split-container">
    <div class="left-section">
        <div class="left-content">
            <h1>Bienvenidos al Login</h1>
            <div class="logo-area">
                <div class="logo-icon">
                    <i class="fas fa-rocket"></i> 
                </div>
                <span class="logo-text">Andruflix</span>
            </div>
            <p>Sumérgete en un universo de películas y series sin límites. Desde los últimos estrenos hasta tus clásicos favoritos, tenemos algo para cada estado de ánimo. Prepárate para maratonear, emocionarte y descubrir tu próxima obsesión.</p>
        
        </div>
    </div>

    <div class="right-section">
        <div class="right-content">
            <h2>Crear tu cuenta</h2>
            <form class="signup-form">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" placeholder="Enter your name" required>
                    <span class="input-line"></span>
                </div>
                <div class="form-group">
                    <label for="email">Correo electronico</label>
                    <input type="email" id="email" placeholder="Enter your email" required>
                    <span class="input-line"></span>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" placeholder="Enter your password" required>
                    <span class="input-line"></span>
                </div>

                <div class="terms-checkbox">
                    <input type="checkbox" id="terms" required>
                    <label for="terms">By signing up I agree with <a href="#">Terms & Conditions</a></label>
                </div>

                <div class="button-group">
                    <button type="submit" class="btn-signup">REGISTAR</button>
                    <!-- <button type="button" class="btn-signin"><a href="inicioSesion.html" >INICIAR SESEION</a></button> -->
                </div>
            </form>
        </div>
    </div>

    <div class="cloud-divider"></div>
</div>