<h2>TRAILER SERIES</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <iframe width="auto" height="480" src="https://www.youtube.com/embed/2qccTf1TuoI" title="Homero Camionero Los simpsons capitulos completos en español latino" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h5 class="card-title">LOS SIMPSON</h5>
            <p>Los Simpson es una icónica serie de televisión de animación estadounidense creada por Matt Groening para Fox. La serie es una sátira de la vida de la clase media estadounidense, personificada por la familia Simpson, que reside en la ficticia ciudad de Springfield</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <iframe width="auto" height="480" src="https://www.youtube.com/embed/eqNUieF4yGg?list=PLctu_t5fR-ZR7H8VwobY2uJVBcuzrFe4k" title="Fry y Bender Se Conocen." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h5 class="card-title">FUTURAMA</h5>
            <p>Es una serie de comedia de situación animada de ciencia ficción, creada por Matt Groening (también creador de Los Simpson) y David X. Cohen. La trama se desarrolla en el siglo XXXI y sigue las aventuras de un grupo de personajes que trabajan en Planet Express, una compañía de reparto de mensajería interplanetaria.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <iframe width="auto" height="480" src="https://www.youtube.com/embed/49ZNrmBvyr0?list=PLFu_irob7z2Eanc4k8IdZyfpiJuPq_D0_" title="Pataclaun - Capítulo 1 | Temporada 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h5 class="card-title">PATACLAUN</h5>
            <p>fue una popular y transgresora serie de televisión cómica peruana, creada y producida por July Natters. Se emitió por primera vez en 1997 y se convirtió rápidamente en un fenómeno cultural en Perú, rompiendo esquemas con su formato innovador y su humor único.</p>
        </div>
    </div>
</div>