<p>trailer-series works!</p>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <iframe width="auto" height="480" src="https://www.youtube.com/embed/2qccTf1TuoI" title="Homero Camionero Los simpsons capitulos completos en español latino" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h5 class="card-title">the simpson</h5>
            <p>Es la cuarta entrega de la icónica saga de acción y comedia protagonizada por Will Smith como Mike Lowrey y Martin Lawrence como Marcus Burnett. En esta ocasión, la trama da un giro inesperado y los detectives favoritos de Miami se encuentran en una situación comprometida: ¡se convierten en fugitivos!</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <iframe width="" height="480" src="https://www.youtube.com/embed/5NYt1qirBWg" title="&quot;Harry Potter and the Deathly Hallows - Part 2&quot; Trailer 2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h5 class="card-title">harry potter reliquias partes dos</h5>
            <p>Es la conclusión épica y el clímax de la saga cinematográfica de Harry Potter, basada en la segunda mitad de la novela final de J.K. Rowling. La película retoma la historia justo donde terminó la primera parte, con Harry, Ron y Hermione en su incansable búsqueda de los Horrocruxes restantes para destruir a Lord Voldemort de una vez por todas.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <iframe width="AUTO" height="480" src="https://www.youtube.com/embed/8gf7FEmBDDA" title="Rapido y Furioso 2 Trailer HD" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h5 class="card-title">RAPIDO Y FURIOSOS 2</h5>
            <p>Después de los eventos de la primera película, Brian O'Conner (Paul Walker) ha sido despedido del LAPD y se muda a Miami, donde se gana la vida participando en carreras callejeras ilegales. Es descubierto por el FBI, que le ofrece un trato para limpiar su expediente: debe infiltrarse en la operación de lavado de dinero del peligroso narcotraficante Carter Verone (Cole Hauser).</p>
        </div>
    </div>
</div>