<p>trailer-peliculas works!</p>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="/BADBOY.jpg" class="card-img-top" alt="BADBOY">
            <div class="card-body">
                <h5 class="card-title">BAD BOY</h5>
                <a href="">ver trailer</a>
                <iframe width="853" height="480" src="https://www.youtube.com/embed/8KXy_GZZKLA" title="Bad Boys: Hasta la Muerte | Tráiler Oficial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="/HP.jpg" class="card-img-top" alt="BADBOY">
            <div class="card-body">
                <h5 class="card-title">HARRY POTTER</h5>
                
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="/pataclaun.jpg" class="card-img-top" alt="BADBOY">
            <div class="card-body">
                <h5 class="card-title">PATACLAUN</h5>
            </div>
        </div>
    </div>
</div>