<app-header-principal></app-header-principal>

<h1 id="trailer-peliculas">BIENVENIDO ANDRUFLIX</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div card>
      <div class="card-body">
        <div>
          <app-card
            titulo="BAD BOY"
            descripcion="La franquicia Bad Boys es una serie de películas de acción y comedia protagonizada por Will Smith como Mike Lowrey y Martin Lawrence como Marcus Burnett, dos detectives del Departamento de Policía de Miami. Las películas se caracterizan por su mezcla de escenas de acción explosivas, persecuciones emocionantes y un humor irreverente, gracias a la química innegable entre sus dos protagonistas.">
            <img src="../../../../public/img/BADBOY.jpg">
          </app-card>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div card>
      <div class="card-body">
        <div>
          <app-card
            titulo="HARRY POTTER"
            descripcion="La saga de Harry Potter se basa en las exitosas novelas de J.K. Rowling y sigue las aventuras de Harry Potter, un huérfano que vive una vida miserable con sus tíos abusivos. Justo antes de su undécimo cumpleaños, Harry descubre que es un mago y está destinado a asistir al Colegio Hogwarts de Magia y Hechicería.">
            <img src="../../../../public/img/HP.jpg">
          </app-card>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div card>
      <div class="card-body">
        <div>
          <app-card
            titulo="PATACLAUN"
            descripcion="Pataclaun fue una popular serie de televisión peruana de género cómico que se emitió originalmente entre 1999 y 2000. Creada y producida por July Naters, y basada en la compañía teatral del mismo nombre, la serie se convirtió rápidamente en un fenómeno cultural en Perú, recordada por su humor particular, sus personajes entrañables y su formato innovador.">
            <img src="../../../../public/img/pataclaun.jpg">
          </app-card>
        </div>
      </div>
    </div>
  </div>
</div>