
:host {
    --color_titulo:#f39c12;
    --tipo_letra:'Courier New', Courier, monospace;
}


#trailer-peliculas {
    color: var(--color_titulo);
    font-size: 24px;
    font-weight: bold;
    font-family: var(--tipo_letra);
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}

.card {
    max-width: 95%;
    min-height: 90%
}
