.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.card {
    width: 18rem;
    height: 95%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem; 
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    color: #333;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
}

.card-text {
    color: #666;
    line-height: 1.6;
}

.col {
    display: flex;
}