.titulo {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}
.titulo {
    animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Styles in this file will only apply to the bad-boy-card component */
.card {
    width: 18rem; /* You can keep your inline style here or move it to CSS */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem; /* Example: add some margin around the card */
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    color: #333;
    font-family: 'Montserrat', sans-serif; /* Example: using a different font */
    font-weight: 600;
}

.card-text {
  color: #666;
  line-height: 1.6;
}