
    
<!-- <app-principal></app-principal> -->

<main>
    <a routerLink="['/']">
        <header>
            <nav>
                <ul>
                    <li><a routerLink="">Inicio</a></li>
                    <li><a routerLink="crearCuenta" >Crear cuenta</a></li>
                    <li><a routerLink="login">Iniciar sesion</a></li>
                </ul>
            </nav>
        </header>
        <!-- <app-header-principal></app-header-principal> -->
    </a>
    <section>
        <router-outlet></router-outlet>
    </section>

</main>