
<div class="split-container">
    <div class="left-section">
        <div class="left-content">
            <h1>Bienvenidos al Login</h1>
            <div class="logo-area">
                <div class="logo-icon">
                    <img class="fas fa-rocket w-100" src="/img/Gemini_Generated_Image_q82ij6q82ij6q82i.png" alt="logo">
                    <!-- <i class="fas fa-rocket"></i>  -->
                </div>
                <span class="logo-text">Andruflix</span>
            </div>
            <p>Sumérgete en un universo de películas y series sin límites. Desde los últimos estrenos hasta tus clásicos favoritos, tenemos algo para cada estado de ánimo. Prepárate para maratonear, emocionarte y descubrir tu próxima obsesión.</p>
        
        </div>
    </div>

    <div class="right-section">
        <div class="right-content">
            <h2>Inicio sesion</h2>
            <form class="signup-form">
                <div class="form-group">
                    <label for="email">Correo electronico</label>
                    <input type="email" id="email" placeholder="Enter your email" required>
                    <span class="input-line"></span>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" placeholder="Enter your password" required>
                    <span class="input-line"></span>
                </div>

                <div class="button-group">
                    <button type="button" class="btn-signin" (click)="verificarDatos()" ><a>INICIAR SESION</a></button>
                </div>
            </form>
        </div>
    </div>

    <div class="cloud-divider"></div>
</div>