<header>
    <nav>
        <ul>
            
            <li><a routerLink="">Inicios</a></li>
            <li><a routerLink="crearCuenta" >Crear cuenta</a></li>
            <li><a routerLink="login">Iniciar sesion</a></li>
        </ul>
    </nav>
</header>

<!-- https://www.google.com/search?q=rutas+en+angular+19&rlz=1C1ALOY_esCO1030CO1030&oq=rutas+en+angula&gs_lcrp=EgZjaHJvbWUqBwgCEAAYgAQyBwgAEAAYgAQyBggBEEUYOTIHCAIQABiABDIICAMQABgWGB4yCAgEEAAYFhgeMggIBRAAGBYYHjIICAYQABgWGB4yCAgHEAAYFhgeMggICBAAGBYYHjIICAkQABgWGB7SAQg4Mzg0ajBqN6gCCLACAfEF3yzWGegz6AXxBd8s1hnoM-gF&sourceid=chrome&ie=UTF-8#fpstate=ive&vld=cid:2c71a6c9,vid:dqinIV2e4ZA,st:0 -->